extends /_template.pug

block content
	h1= contact.name
	h2 experience
		h3 work
		for arr,key in work
			div
				h4= key + ': '
				for each in arr
					p= each
		h3 skills
		for arr,key in skills
			div
				h4= key + ': '
				for each in arr
					p= each
		h3 events
		for arr,key in events.info
			div
				h4= key + ': '
				for each in arr
					p= each
		for arr in events.list
			div
				for each,key in arr
					h4= key + ': '
					p= each
