extends /_template.pug

block content
	div
		for arr,key in base
			div
				strong= key + ': '
				span= arr
	div
		h2 education
		for obj in education
			p
				for each, key in obj
					div
						strong= key + ': '
						span= each
	div
		h2 work
		for arr,key in work
			p
				div
					strong= key + ': '
				div
					for each in arr
						div
							span= each
	div
		h2 skills
		for arr,key in skills
			p
				div
					strong= key + ': '
				for each in arr
					div
						span= each
	div
		h2 events
		for arr,key in events.info
			div
				strong= key + ': '
				for each in arr
					span= each
		for obj in events.list
			for arr,key in obj
				p
					div
						strong= key + ': '
					for each in arr
						div= each
